{% extends 'base.html' %}
{% block title %}
Welcome to SR Cloud - Change Password
{% endblock %}


{% block content %}
<div class="container change_password_block">
    <h1> Change Password</h1>
	<div class="row">
        <form action="/change_password/" method="post">
		<div class=" col-md-4 col-sm-4">

		    <label class="form-label">Current Password</label>
		    <div class="form-group pass_show">
                <input type="password" class="form-control" name="current_password" minlength="8" placeholder="Current Password">
            </div><br>
		       <label class="form-label">New Password</label>
            <div class="form-group pass_show">
                <input type="password" class="form-control" name="new_password" minlength="8" placeholder="New Password">
            </div><br>
		       <label class="form-label">Confirm Password</label>
            <div class="form-group pass_show">
                <input type="password" class="form-control" name="confirm_password" minlength="8" placeholder="Confirm Password">
            </div><br>

		</div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div id="msg">
                {% with messages = get_flashed_messages(category_filter=["password_unmatch"]) %}
                {% if messages %}

                {% for message in messages %}
                {{ message }}
                {% endfor %}

                {% endif %}
                {% endwith %}
            </div>
            <div>
                {% with messages = get_flashed_messages(category_filter=["password_success"]) %}
                {% if messages %}

                {% for message in messages %}
                {{ message }}
                {% endfor %}

                {% endif %}
                {% endwith %}
            </div>
            <div>
                {% with messages = get_flashed_messages(category_filter=["current_password"]) %}
                {% if messages %}

                {% for message in messages %}
                {{ message }}
                {% endfor %}

                {% endif %}
                {% endwith %}
            </div>
	</div>
</div>


{% endblock %}